# Node.js
node_modules/
.npm
.pnpm
.yarn
# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

# Additional Node.js files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.babelrc
.eslintcache
.stylelintcache

# Dependency directories
/lib/
/vendor/

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
npm-debug.log
yarn-error.log
*.pid
*.log

# Environment
.env

# Ignore .pill files
*.pill
*pill.js